.w400 {
    width: 400px;
}

.w500 {
    width:500px;
}

.w600 {
    width:600px;
}

.w800 {
    width: 800px;
}

.ma {
    margin:10px;
}

.tp {
    width: 180px;
    height: 180px;
    background-color: #16c8e8;
    font-size: 100px;
    margin: 10px 10px 0px 0px;
}

.tp1 {
    width: 180px;
    height: 180px;
    background-color: #ff6a00;
    font-size: 100px;
    margin: 10px 10px 0px 0px;
}

.xz {
    font-size: 20px;
}

.lfloat {
    float: left;
}

.rfloat {
    float:right;
}

.clear {
    clear:both;
}

.m {
    margin-right: 80px;
}

.tp:hover, .tp1:hover {
    animation: 1s ani;
    cursor: pointer;
}

@keyframes ani {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-5deg);
    }

    10% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    30% {
        transform: rotate(0deg);
    }

    35% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(0deg);
    }

    45% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(0deg);
    }

    65% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(-5deg);
    }

    90% {
        transform: rotate(0deg);
    }

    95% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
