.moveleft {
    margin: 5px;
    border: 2px solid red;
    width: 100%;
    background-color: yellow;
}

/*元素进入或者要呈现出来的时候调用的样式*/
/*.和-enter-active之间的字符就是页面transition里面的name属性值*/
/*官方说明v-enter-active，用自定义名称替换v*/
/*不考虑路由，动画效果只对v-show和v-if生效*/
.moveleft-enter-active {
    animation: moveleftin ease-in 2s;
}

/*元素离开或者要隐藏的时候调用的样式*/
.moveleft-leave-active {
    animation: moveleftout ease-out 2s;
}

/*动画是移动，需要调整定位方式*/
.moveleft-enter-active, .moveleft-leave-active {
    position: absolute;
}

/*定义动画*/
@keyframes moveleftin {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes moveleftout {
    0% {
        left: 0px;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}
